#features {
  background-color: $bg-grey;
  padding: 5rem 0;
  &-content{
    background-color: #fff;
    padding: 2rem;
    margin: 1rem 0;
  }
  &-img{
    width: 5rem;
    height: auto;
  }
  &-p {
    color: $color-grey-dark;
    font-size: 2.2rem;
    font-weight: 400;
  }
}