#video {
  background-image: url(../img/videoplayer-bg.jpg);
  background-attachment: fixed;
  // background-size: cover;
  background-repeat: no-repeat;
  min-height: 20rem;
  &-overlay {
    background: rgba(0, 0, 0, 0.3);
    min-height: 30rem;
  }
  &-play {
    font-size: 4rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1.5rem 4rem;
    margin-top: 12rem;
    transition: all 0.5s;
  }
  &-play:hover {
    color: $color-blue;
    background-color: #fff;
  }
}
